$border-radius: 2px;
$link-decoration: none;

body.lesson {
    .vocabulary {
        .m {
            display: inline-block;
            margin-right: 10px;
        }
    }
    .sound-item {
        img {
            transition: transform 0.4s;
        }
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
}
